<div class="row projects">
  <div class="col s12">
		<div class="row">
	    <div class="col s6 add-project">
		    <ul class="collapsible" data-collapsible="accordion">
	        <li>
	          <div class="collapsible-header"><i class="fa fa-fire"></i>Add a Project</div>
	          <div class="collapsible-body">
	            <p>
	              <div class="container">
		              <form action="/dashboard-project" method="post">
				            <div class="row">
									    <div class="col s4">
												<input type="text" name="name" placeholder="Name">
											</div>
											<div class="col s8">
											  <input type="text" name="description" placeholder="Description">
											</div>
										  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
											  <i class="material-icons right">send</i>
											</button>
										</div>
									</form>
								</div>
						  </p>
						</div>
	        </li>
	      </ul>
	    </div>
	    <div class="col s6 add-project">
		    <ul class="collapsible" data-collapsible="accordion">
	        <li>
	          <div class="collapsible-header"><i class="fa fa-group"></i>Add a Member</div>
	          <div class="collapsible-body">
	            <p>
	              <div class="container">
		              <form action="/dashboard-member" method="post">
				            <div class="row">
									    <div class="col s4">
												<input type="text" name="first_name" placeholder="First Name">
											</div>
											<div class="col s4">
												<input type="text" name="last_name" placeholder="Last Name">
											</div>
											<div class="col s4">
											  <input type="email" name="email" placeholder="Email">
											</div>
										  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
											  <i class="material-icons right">send</i>
											</button>
										</div>
									</form>
								</div>
						  </p>
						</div>
	        </li>
	      </ul>
	    </div>
    </div>
			<% @projects.each do |project| %>
			<div class="col s3">
				  <div class="card project-card">
						<div class="card-content white-text">
							<a href="/dashboard/project/<%= project.id %>">
							  <span class="card-title black-text">
							    <%= project.name %>
							  </span>
							</a>
							<p><%= project.description %></p>
						</div>
					</div>
				</a>
			</div>
		<% end %>
	</div>
</div>



<div class="container">
	<div class="row members">
		<div class="row s12">
			<h2>Team Members</h2>
		  <table>
		    <thead>
		      <tr>
		        <th data-field="id">Name</th>
		        <th data-field="name">Email</th>
		      </tr>
		    </thead>
		    <tbody>
			  <% @team_members.each do |team_member| %>
		      <tr>
		        <td><a href="/member/<%= team_member.id %>"><%= team_member.first_name %> <%= team_member.last_name %></a></td>
		        <td><%= team_member.email %></td>
		      </tr>
			  <% end %>
			  </tbody>
		  </table>
		</div>
	</div>
</div>


