<div class="row">
  <div class="col s12 project-banner">
    <h2><%= @project.name %></h2>
    <h4><%= @project.description %></h4>
    <div class="delete-project">
      <form method="post" action="/dashboard/project/<%=@project.id%>/delete">
        <button class="btn waves-effect waves-light" type="submit" name="action">Delete Project
        <i class="material-icons right">error</i>
        </button>
        <input type="hidden" name ="projectid" value="<%= @project.id %>">
      </form>
    </div>
  </div>
</div>

<div class="row off-white">
  <div class="col s6">
    <div class="container">
      <h3>Assigned Tasks:</h3>
      <ul class="collection">
        <% @tasks.each do |task| %>
          <% if task.member_id != nil && task.completed == false %>
            <li class="collection-item avatar">
              <i class="fa fa-user fa-2x circle"></i>
              <span class="title"><%= task.description %></span>
              <p>Skill Required: <%= task.skill.name %></p>
              <p>Assigned to:<a href="/member/<%= task.member.id %>"> <%= task.member.first_name %> <%= task.member.last_name %></a></p>
              <a href="#!" class="secondary-content"><i class="fa fa-check-circle fa-3x"></i></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col s6">
    <div class="container">
      <h3>Unassigned Tasks:</h3>
      <ul class="collection">
        <% @unassigned.each do |task| %>
          <li class="collection-item avatar">
            <i class="material-icons circle red">perm_identity</i>
            <span class="title"><%= task.description %></span>
            <p>Skill Required: <%= task.skill.name %></p>
          </li>
        <% end %>
      </ul>
      <div class="assign-task">
        <form method="post" action="/dashboard/project/<%=@project.id%>/assign">
          <input type="hidden" name ="projectid" value="<%= @project.id %>">
            <button class="btn waves-effect waves-light" type="submit" name="action">Assign Task
            <i class="material-icons right">send</i>
            </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row off-white add-task">
  <div class="col s12">
    <div class="container"> 
      <div>
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header"><i class="fa fa-plus-square"></i>Add Task</div>
            <div class="collapsible-body">
              <p>
                <div class="container">
                  <form action="/dashboard/project/:id" method="post">
                    <div class="row">
                      <div class="col s4">
                        <input type="text" name="description" placeholder="Task Description">
                      </div>
                      <div class="col s8">
                        <input type="text" name="required_skill" placeholder="Required Skills">
                      </div>
                      <input type="hidden" name="projectid" value="<%= @project.id %>">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </form>
                </div>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



