<h1><%= @team_member.first_name %> <%= @team_member.last_name %></h1>
<h2><%= @team_member.email %></h2>
<h3>Tasks Assigned</h3>
<h3>Skills</h3>
  <% @skills.each do |skilly| %>
  	<p><%= skilly.name %></p>
  <% end %>

  <h4>Add new skill</h4>
  <form action="/member/<%= @team_member.id %>" method="post">
    <div>
    <label for="">Skill</label>
    <select name="drop_down_skill">
      <option selected="selected" value="<%nil%>">Select a required skill</option>
      <% @all_skills.each do |skill| %>
        <option value="<%=skill.id%>"><%=skill.name%></option>
      <% end %>
        <option value="<%nil%>">Not listed? Create one below</option>
    </select>
    </div>
    <div>
    <label>Add a new skill</label>
    <input type="text" name="skill">
  </div>
  <div>
    <input type="submit" value="Add Skill">
  </div>
</form>

  <a href="/dashboard">Back to dashboard</a>
